@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RegisterOption

<div>
    <form method="post" action="/Register/Index">
@Html.RadioButtonFor(m=>m.Option,"Patient")  Patient
@Html.RadioButtonFor(m=>m.Option,"Caregiver")   Care Giver
<br /> <br />
        
<input type="submit" value="Submit" id="submitbtn" />
        
    </form>
</div>