@{
    ViewData["Title"] = "Home Page";
}

<div style="color:gray">
    <h2 class="text-center">What is living assistance?</h2>
    <h4>Living Assistance Services involve more than just in home care. People assists seniors to seek out appropriate regional senior services. We have brochures from other area services such as: Adult Living Communities, Convalescent Homes, Geriatric Support, Home Health, Physical Therapy, Physicians, Hospice Support and more. We know these providers and will, if requested, refer you to additional senior care providers where appropriate.</h4>
    <br /><br />
    <h2 class="text-center">How can we help?</h2>
    <h4>
        An in-home round the clock nursing service offers personalized nursing care at home as offered in a typical hospital while being more compassionate towards the patient and gets integrated into the patient’s family and develops an emotional bond with the patient and their family.
        The home nursing services usually entails wound care for pressure sores or surgical wound, patient and caregiver education, Intravenous or nutrition therapy, injections, rehabilitation therapies and monitoring serious illness and unstable health status. You can hire nursing services for 12 hours or 24 hours according to the patient's requirement.
    </h4>
    <br /><br />
    <h2 class="text-center">Why choose us?</h2>
    <h4>
        <ul>
            <li>Highly Trained Nursing Staff </li>
            <li>Personalized Care</li>
            <li>Convenience & Cost Effectiveness</li>
            <li>Faster Healing process</li>
            <li>Better Time Management</li>
            <li>Improved Quality of Life</li>
        </ul>
    </h4>
</div>
