@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div style="color:gray">
    <h1>Services provided by us </h1>
    <h2>Injection & Infusion</h2>
    <h4>Get Hospital-Quality, Sterilized Injections & IV Infusions at Home</h4>
    <h2>Medical Dressing</h2>
    <h4>Bedsore dressing, surgical wound dressing, suture or staple removal at home</h4>
    <h2>Elder Care</h2>
    <h4>
        If you have an elderly loved one who needs support and assistance with
        daily activities, we give them the care & compassion they deserve.
        Get our 12 / 24-hr trained attendant service at home.
    </h4>
    <h2>Mother and Baby Care</h2>
    <h4>
        Both mother and newborn need constant attention while
        feeding, bathing, housekeeping, and more. The support of a well-trained
        attendant at home will do them wonders.
    </h4>
    <h2>Vaccinations</h2>
    <h4>Vaccination for Typhoid, Hepatitis B, Flu, H1N1,Pneumonia other infectious diseases at home</h4>
    <h2>Medical Care</h2>
    <h4>
        Vital measurement, Urine catheter care, Oxygen administration
        & Stoma care at home
    </h4>
    <h2>Health and Lifestyle Management</h2>
    <h4>
        If a loved one needs help moving around or to be
        monitored regularly, a trained attendant is exactly who you need at home
    </h4>
    <h2>Post-Operative Support</h2>
    <h4>
        Looking after someone who has just undergone surgery can
        be stressful for the family. However, a trained in-home attendant can make things easier
        by keeping a check on the patient’s essential vitals and supporting the family.
    </h4>
    <h2>Oral care</h2>
    <h4>Bathing, Toileting, Dressing</h4>
</div>