@model LivingAssistance2.Models.BookingDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookingDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingReferenceId" class="control-label"></label>
                <input asp-for="BookingReferenceId" class="form-control" />
                <span asp-validation-for="BookingReferenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CareGiverId" class="control-label"></label>
                <select asp-for="CareGiverId" class ="form-control" asp-items="ViewBag.CareGiverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingTime" class="control-label"></label>
                <input asp-for="BookingTime" class="form-control" />
                <span asp-validation-for="BookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicesReq" class="control-label"></label>
                <input asp-for="ServicesReq" class="form-control" />
                <span asp-validation-for="ServicesReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCharges" class="control-label"></label>
                <input asp-for="TotalCharges" class="form-control" />
                <span asp-validation-for="TotalCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
